@model InterfazUsuario.Models.ModeloMesas

@{
    ViewBag.Title = "Detalles Mesa";
}

<h2>Detalles</h2>

<div>
    <h4>Mesas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TN_IdMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TN_IdMesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TC_DscMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TC_DscMesa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarMesa", new { pId = Model.TN_IdMesa }) |
    @Html.ActionLink("Regresar", "obtenerMesa")
</p>
