@model IEnumerable<InterfazUsuario.Models.ModeloCliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "agregarCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TN_IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC_Ap1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC_Ap2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tc_NumTelefonico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TC_CorreoElectronico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TN_IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TC_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TC_Ap1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TC_Ap2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tc_NumTelefonico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TC_CorreoElectronico)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarCliente", new { pId = item.TN_IdCliente }) |
            @Html.ActionLink("Detalles", "detalleCliente", new { pId = item.TN_IdCliente }) |
            @Html.ActionLink("Eliminar", "eliminarCliente", new { pId = item.TN_IdCliente })
        </td>
    </tr>
}
        
</table>
